<head>
    <link>
</head>


<div class="ui container">
    <app-header></app-header>
    <br>
    <div class="ui placeholder segment">
        <div class="ui two column very relaxed stackable grid">
          <div class="column">
              <div class="ui vertical menu" style="background-color:lightblue;">
                  <a class="teal item" target="#show" routerLink="add">
                      Add
                  </a>
                  <a class="item" target="#show" routerLink="update"> Update
                  </a>
                  <a class="item" target="#show" routerLink="delete">
                      Delete
                  </a>
      
              </div>
          </div>
          <div class="middle aligned column">
              <div class="column">
                  <div id="show">
                      <router-outlet></router-outlet>
                  </div>
              </div>
          </div>
        </div>
        <div class="ui vertical divider">
          
        </div>
      </div>
</div>

    